<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpUc4wdDFaluyv_E-d1auTQqqhrZz1bFg</string>
	<key>GCM_SENDER_ID</key>
	<string>835279265105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abel.Lab-6</string>
	<key>PROJECT_ID</key>
	<string>firechatserver-6b040</string>
	<key>STORAGE_BUCKET</key>
	<string>firechatserver-6b040.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835279265105:ios:e65a2b1e48849af2844770</string>
</dict>
</plist>